
<div ng-app="soiPortal" ng-controller="HomeController">

	<!-- <div id="home" ng-show="view">
		<div ng-include="getInclude()"></div>
	</div>
	
	<div style="width: 100%;"> -->
	
	
	
		<!-- <div style="float: left; width: 25%;">  -->
		
			<div id="sidebar" ng-show="sidebarview">
				<div ng-include="getSidebar()"></div>
			</div>
			
			
	
	<div>
	<font color="#000066" size="6px"><strong>Welcome to
			Service On Integrator WebGui Portal.</strong></font>
	<div>
		<span class="pull-right">  <img
			src="modules/home-Dashboard/images/soi1.png" alt="Home-Dashboard"
			style="width: 300px; height: 260px;">
		</span>
	</div>
	<br>
	<div>A modular integration platform with particular focus on
		Resource Management and Operations (according to eTOM).A vital
		integrating component which connects the network resources (network
		elements and element managers) to the OSS/BSS</div>
	<br>
	<div>Enhances automation and operator workflow by providing
		inter-module communication and rule-based processing of data. Open
		interfaces allow integration using proven, standards-based technology
		large-scale integration projects are already in active service</div>
	<br>
	<div>Distributed and adaptable to particular network dimensions
		and operational requirements. Modules can be added according to the
		functionality or level of integration required.</div><br>
	<div>ServiceOn Integrator employs an extensible, modular
		architecture allowing it to provide a range of functions from
		adaptation of multi-vendor network resources to integrated service
		management features</div>

</div>
	
		</div>
		
		
		
		
		



 

